body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url('court.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    align-items: center;
    color: white;
    text-shadow: 0 0 5px black;
    font-size: 1.5rem;
    margin: 2rem;
}

#home-score {
    background-color: rgba(0, 0, 0, .5);
    padding: 4rem;
    color: #F94F6D;
    font-size: 3rem;
    margin: 1rem;
    border-radius: 3px;
}

#away-score {
    background-color: rgba(0, 0, 0, .5);
    padding: 4rem;
    color: #F94F6D;
    font-size: 3rem;
    margin: 1rem;
    border-radius: 3px;
}

.btn {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    padding: .5rem;
    border-radius: 3px;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

@media screen and (min-width: 768px) {
    body {
        background-position: top;
    }
    .container {
        flex-direction: row;
    }
    
}


