@font-face {
    font-family: 'Cursed Timer'; /* No fallback font here */
    src: url('CursedTimerUlil-Aznm.ttf') format('truetype'); /* Use 'truetype' as the format */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url('court.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    align-items: center;
    color: white;
    text-shadow: 0 0 3px black;
    font-size: 1.5rem;
    margin: 2rem;
}

.score-card {
    margin: 1rem;
}

.score-card h2 {
    margin: 1rem;
}

.score {
    background-color: rgba(0, 0, 0, .5);
    padding: 4rem;
    color: #F94F6D;
    font-size: 5rem;
    margin: .5rem;
    border-radius: 3px;
    font-family: 'Cursed Timer', sans-serif;
}

.btn {
    border: 1px solid white;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    padding: .5rem;
    border-radius: 3px;
    font-family: 'Cursed Timer', sans-serif;
    font-size: 1.5rem;
    margin: .5rem;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

@media screen and (min-width: 768px) {
    body {
        background-position: top;
    }
    .container {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    } 
}


